@font-face {
    font-family: 'CircularStd-Black';
    src: url('assets/CircularStd-Black.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('assets/CircularStd-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
  
  html, body {
      height: 100%;
  }
  
body {
    font-family: 'CircularStd-Black';
    overflow: hidden;
}

.canvas-wrapper canvas {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* .canvas-wrapper .cta-wrapper {
    margin-top: 130px;
} */

.canvas-wrapper .content-wrapper a {
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    border: solid 1px transparent;
    margin-right: 50px;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
}